
.mainbody{width:1200px;}

 body {margin:0; background-color: black; background-image: url("Images/gitIMG.png");}

.Layout2_header{ background-color:#00ffff; width:100%; height:100px;} /* PAGE HEADER */

.Layout2_topmenu{ background-color:Orange; width:100%; height:100px;}	/* PAGE MENU */
				
.Layout2_contents{ width:70%; background-color:#FFEE92; float:left; height:1000px;}	/* CONTENTS OF PAGE */

#page2contents {height:1500px;} /* page2 contents */

#page3contents {height:2000px;} /* page3 contents */

#page4contents {height:3500px;} /* page4 contents */

.menuLink{font-size:20px; color:blue;} /* MENU LINKS CLASS MODIFIER */

.menuLink:hover {color:red;} /* LINKS TURN TO RED WHEN MOUSE HOVERS OVER THEM */
		
.menuLink:active {color:green;} /* LINKS FLASH GREEN WHEN CLICKED */
	
#IndexTopic {margin:0; color:yellow; text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red; font-size: 50px; padding:0;} /* INDEX PAGE HEADER TEXT*/

#IndexH1 {margin:15px; float:left; margin-top:10px; color:Red;  text-decoration: underline overline wavy blue;} /* MODIFY SPECIFIED H1 HEADER FROM INDEX.HTML */

#IndexText {float:left; margin-top:70px; margin-left:-300px;} /* Text in the Index.html content area */

#page1H1 { color: #009b4a; text-decoration: underline dashed blue;} /* page1 H1 heading */

#page1Text {text-align: left; padding-left: 10px;} /* page1 content text */

ul li {text-align: left; font-size: 20px; margin-top:-20px; padding:0; } /* page1 list */

#sourceList li {font-size: 25px; margin-top: -15px; } /* list of sources on page6 */

#theoryList li {font-size: 25px; margin-top: -20px; }

#page1Text2 {text-align: left; padding-left: 10px;} /* page1 content text2 */

#page2H1 {color: #ce5a16; border-bottom: 10px dotted red;} /* page2 H1 heading */

#page2H1\.1 {text-align: left; padding-left: 15px; margin-top: -15px; text-decoration: underline solid black; } /* page2 H1.1 heading */

#page2H1\.2 {text-align: left; padding-left: 15px; margin-top: -15px; text-decoration: underline solid black; } /* page2 H1.2 heading */

#page2H1\.3 {text-align: left; padding-left: 15px; margin-top: -15px; text-decoration: underline solid black; } /* page2 H1.3 heading */

#page2H1\.4 {text-align: left; padding-left: 15px; margin-top: -15px; text-decoration: underline solid black; } /* page2 H1.4 heading */

#page2H1\.5 {text-align: left; padding-left: 15px; margin-top: -15px; text-decoration: underline solid black; } /* page2 H1.5 heading */

#page2Text {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text */

.page2span {font-style: italic; } /* italic style for all spans on page2 */

#page2Text2 {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text2 */

#page2Text3 {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text3 */

#page2Text4 {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text4 */

#page2Text5 {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text5 */

#page2Text6 {text-align: left; padding-left: 10px; margin-top: -15px; } /* page2 content text6 */

#page3H1 {color: #a71ebc; border-bottom: 10px dashed green;} /* page3 H1 heading */

#page3Text {text-align: left; padding-left: 10px; margin-top: -15px; } /* page3 content text */

#hashID {font-style: italic; } /* id of example commit id styled in italic */

code {background-color: black; font-style: normal; border-radius: 10px; color: white; padding: 2px 15px; font-family: menlo, monospace; font-size: 20px; } /* code snippets on page3 */

#code1 {margin-left: 300px; } /* first code text container on page3 */

#page4H1 {color: #ceff1e; border-bottom: 10px double purple; width: 500px; background-color: green; border-radius: 10px; } /* page4 H1 heading */

#img1 {margin-top: -10px; border: 3px solid red;}

#img2 {margin-top: 5px; border: 3px solid red;}

#img3 {margin-top: 5px; border: 3px solid red;}

#img4 {margin-top: 5px; border: 3px solid red;}

#img5 {margin-top: 5px; border: 3px solid red;}

#img6 {margin-top: 5px; border: 3px solid red;}

#img7 {margin-top: 5px; border: 3px solid red;}

#img8 {margin-top: 5px; border: 3px solid red;}

#img9 {margin-top: 5px; border: 3px solid red;}

#img10 {margin-top: 5px; border: 3px solid red;}

#page4Text {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px;  } /* page4 content text */

#page4Text2 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text2 */

#page4Text3 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text3 */

#page4Text4 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text4 */

#page4Text5 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text5 */

#page4Text6 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text6 */

#page4Text7 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text7 */

#page4Text8 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text8 */

#page4Text9 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text9 */

#page4Text10 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text10 */

#page4Text11 {text-align: left; padding-left: 10px; margin-top: 5px; margin-bottom: 0px; } /* page4 content text11 */

#page5H1 {}

#page6H1 {text-decoration: underline;} /* page6 H1 heading */












